<div>
  <div class="vdi-container" style="width:70%; float:left;">
  <ngx-remote-desktop [showFileManager]="fileManagerVisible">
    <!-- Toolbar items -->
    <ngx-remote-desktop-toolbar-item
      *ngIf="remoteDesktopService.isConnected()"
      (click)="toggleFileManager()"
      align="left"
    >
      File Manager
    </ngx-remote-desktop-toolbar-item>
    <ngx-remote-desktop-toolbar-item
      *ngIf="remoteDesktopService.isConnected()"
      (click)="handleDisconnect()"
      align="right"
    >
      Disconnect
    </ngx-remote-desktop-toolbar-item>

    <!-- Override connection state messages -->
    <ngx-remote-desktop-connecting-message>
      <div
        class="ngx-remote-desktop-message-title ngx-remote-desktop-message-title-success"
      >
        CONNECTING TO REMOTE DESKTOP
      </div>
      <div class="ngx-remote-desktop-message-body">
        Attempting to connect to the remote desktop. Waiting for response...
      </div>
    </ngx-remote-desktop-connecting-message>

    <!-- File Manager -->
    <ngx-remote-desktop-file-manager 
      *ngIf="remoteDesktopService.isConnected()"
    >
    </ngx-remote-desktop-file-manager>
  </ngx-remote-desktop>
  </div>
  <div style="margin-left: 70%">
  <div style="border:2px solid blue; border-radius: 10px; width:auto; height:100vh; margin:5px; padding:10px;">
    <input type="textarea" /><br />
    <input type="text" /><br />
    <input type="button" (click)="onClicked()" value="Click Here!" /><br />
    <input type="number" /><br />
  </div>
</div>
</div>